[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[dev-packages]
pipenvbug = {editable = true, git = "https://github.com/dim0x69/pipenvbug.git"}

[packages]
pipenvbug = {git = "https://github.com/dim0x69/pipenvbug.git"}
